<div th:fragment="leftMenu" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <style>
        .left-menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 250px;
            height: 100%;
            background-color: #f8f9fa;
            padding-top: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 1000;
        }

        .menu-item {
            padding: 10px;
            text-decoration: none;
            color: #333;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            text-align: left;
        }

        .menu-item:hover {
            background-color: #ddd;
        }

        .badge {
            background-color: #ff5733;
            color: white;
            border-radius: 50%;
            padding: 5px 10px;
            display: inline-block;
            font-size: 14px;
        }

        @media (max-width: 1065px) {
            .left-menu {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: auto;
                background-color: #f8f9fa;
                padding-top: 60px;
                transition: top 0.3s ease;
                z-index: 1000;
            }
        }
    </style>

    <div class="left-menu">
        <a href="/request_leave" sec:authorize="hasRole('ROLE_LUCRATOR')" class="menu-item">Leave request</a>
        <a href="/approve_leaves" sec:authorize="hasRole('ROLE_MANAGER')" class="menu-item">
            Approve requests
            <span th:if="${pendingRequestsCount > 0}" th:text="${pendingRequestsCount}" class="badge" style="background-color: #ff5733;"></span>
        </a>
        <a href="/requests_leave" class="menu-item" sec:authorize="hasRole('ROLE_LUCRATOR')">Verify state</a>
        <a href="/check_requests" class="menu-item">Verify leaves</a>
    </div>
</div>
