<
<div th:fragment="leftMenu" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <style>
    .left-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        background-color: #f8f9fa;
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1000;
    }

    .menu-item {
        padding: 10px;
        text-decoration: none;
        color: #333;
        display: block;
        width: 100%;
        text-align: center;
    }

    .menu-item:hover {
        background-color: #ddd;
    }

    @media (max-width: 1065px) {
        .left-menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
            background-color: #f8f9fa;
            padding-top: 60px;
            transition: top 0.3s ease;
            z-index: 1000;
        }
    }
  </style>

  <div class="left-menu">
    <a href="#" class="menu-item">Cerere concediu</a>
    <div sec:authorize="hasRole('ROLE_MANAGER')">
      This content is only shown to administrators.
    </div>
    <a href="#" class="menu-item">History</a>
    <a href="#" class="menu-item">Users</a>
  </div>

</div>
