<!-- left_menu_component.html -->
<div th:fragment="navBar" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <style>
        .navbar {
            overflow: hidden;
            background-color: #f8f9fa;
            color: black;
            font-family: Arial, sans-serif;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
        }

        .navbar .avatar {
            margin-right: 10px;
            border-radius: 50%;
        }

        .navbar .username {
            color: black;
            font-weight: bold;
            text-decoration: none;
            padding: 14px 0;
        }

        .navbar .right {
            float: right;
        }

        .navbar .right .nav-item {
            display: inline-block;
            color: black;
            text-decoration: none;
            padding: 14px 20px;
            transition: background-color 0.3s;
        }

        .navbar .right .nav-item:hover {
            background-color: #555;
        }
    </style>

    <div class="navbar" id="navbar">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" id="avatar"><path d="M24 8c-4.42 0-8 3.58-8 8 0 4.41 3.58 8 8 8s8-3.59 8-8c0-4.42-3.58-8-8-8zm0 20c-5.33 0-16 2.67-16 8v4h32v-4c0-5.33-10.67-8-16-8z"></path><path fill="none" d="M0 0h48v48H0z"></path></svg>
            <span class="username" th:text="${username}"></span>
        </div>
        <div class="right">
            <a href="#" class="nav-item">About</a>
            <a href="#" class="nav-item">Logout</a>
        </div>
    </div>
</div>
